.comment{
	background: var(--Background);
	width: inherit;
}
.comment-form {
	display: flex;
	align-items: center;
	justify-content: center;
	width: inherit;
	margin: 0;
	gap: 24px;
	padding: 36px 70px 24px;
	min-height: 13vh;
}

.user-avatar {
	margin: 0 8px 0 36px;
	padding: 0;
	height: 55px;
	width: 55px;
	border-radius: 44px;
	background: var(--secondary-button, #00696a);
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
}

.user-name {
	margin: 0;
	padding: 0;
	color: var(--Background, #ebeeee);
	text-align: center;
	font-family: Inter;
	font-size: 30px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.file-conteiner{
	margin: 0 auto;
	max-width: 1194px;
}

.comment-pipe{
	background: url(../../../Images/paperClip.svg);
	margin-right: 24px;
	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
	z-index: 2;
}

.new-dispute-form {
	/* УБРАТЬ */
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.new-dispute-form__container {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 1080px;
	min-height: 633px;
}

.new-dispute-form__item-wrapper {
	display: grid;
	grid-template-columns: 200px 980px;
	gap: 20px;
}

.new-dispute-form__item-title-wrapper {
	box-sizing: border-box;
	padding: 6.5px 0 0 12px;
}

.new-dispute-form__item-title-wrapper_large {
	padding: 24px 0 0 12px;
}

.new-dispute-form__item-title {
	margin: 0;
	text-align: start;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #131713;
}

.new-dispute-form__item-title_subtext {
	font-weight: 400;
	font-size: 12px;
	line-height: 14.5px;
	color: #809595;
}

.new-dispute-footer {
	min-height: 74px;
}

.new-dispute-footer__used-zone {
	display: grid;
	align-items: end;
	grid-template-columns: 420px 420px;
	gap: 20px;
}

.new-dispute-footer___button {
	width: 420px;
	height: 60px;
	border: none;
	border-radius: 10px;
	background-color: #00696a;
	font-weight: 700;
	font-size: 16px;
	line-height: 19.36px;
	color: #ebeeee;
}

.file-preview {
	height: 74px;
	display: flex;
	align-items: flex-end;
	gap: 20px;
}

.new-dispute-form__goBack {
	width: 25px;
	height: 25px;
	border: none;
	background-image: url(../../../Images/closeIcon.svg);
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
	cursor: pointer;
	align-self: flex-end;
}
