.password-edit-form {
	margin: 0 20px;
	padding: 0;
	width: 420px;
	display: flex;
	flex-direction: column;
}

.password-edit-form__title {
	margin: 0;
	padding: 0 0 40px 0;
	color: var(--Green-text, #002a2a);
	text-align: center;

	font-family: Inter;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
	/* 42px */
}

.password-edit-form__inputs {
	display: flex;
	gap: 5px;
	flex-direction: column;
}

.password-edit-form__list-title {
	padding: 17px 0 0 0;
	margin: 0;
	color: var(--Green-text, #002a2a);
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%; /* 24px */
}

.password-edit-form__list {
	padding: 12px 0 0 0;
	margin: 0;
	list-style-image: url('../../../Images/CheckmarkGreen.svg');
	list-style-position: inside;
	line-height: normal;
}

.password-edit-form__list-item {
	padding: 0 0 5px 0;
	margin: 0;
	color: var(--Green-text, #002a2a);
	font-variant-numeric: lining-nums tabular-nums;

	/* Caption 1 */
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.password-edit-form__status {
	min-height: 19px;
	margin: 8px 0;
	padding: 0;
	color: var(--Success, #07a044);
	text-align: center;

	/* Button */
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.disabled {
	opacity: 0.5;
}
