.password-edit-form {
	margin: 0;
	padding: 0;
	max-width: 420px;
}

.password-edit-form__title {
	margin: 0;
	padding: 6px 0 40px 0;
	color: var(--Green-text, #002a2a);
	text-align: center;

	font-family: Inter;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%; /* 42px */
}

.password-edit-form__inputs {
	display: flex;
	gap: 6px;
	flex-direction: column;
}
