.new-dispute-explanation {
	min-height: 280px;
}

.new-dispute-explanation__text {
	resize: none;
	box-sizing: border-box;
	height: 280px;
	padding: 27px 36px;
	border: 1px solid #000;
	border-radius: 10px;
}
