.dispute-card {
	display: flex;
	max-width: 1370px;
	min-width: 1370px;
}
.dispute-card__container {
	min-width: 1370px;
	box-sizing: border-box;
	padding: 30px 0 30px 70px;
	font-family: Inter;
	background-color: white;
	display: flex;
	box-shadow: 0px 4px 24px 0px #003d3d26;
	border-radius: 10px;
	flex-direction: row;
	position: relative;
}
.dispute-card__container:hover {
	outline: 1px solid var(--Stroke);
	cursor: pointer;
}
.dispute-card__header {
	display: flex;
	flex-direction: row;
}
.dispute-card__title {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
}

.dispute-card__closed-time {
	padding: 0;
	margin: 0;
	margin-left: 40px;
	font-family: Inter;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
	color: #131713;
}

.dispute-card__content {
	box-sizing: border-box;
	/* padding: 0 60px 0 60px; */
	margin: 0 60px 0 60px;
	width: 850px;
	min-height: 132px;
}
.dispute-card__text {
	margin: 0;
	padding: 0;
	margin-top: 24px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;

	/* переполнение */
	/* height: 154px; */
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.dispute-card__files {
	display: flex;
	margin-top: 14px;
	flex-direction: row;
}
.dispute-card__file-link {
	margin-right: 16px;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0px;
	text-align: left;
	display: flex;
	color: var(--Green-heade);
	max-width: 200px;
	text-decoration: none;
}
.dispute-card__filename {
	/* display: flex;
	align-items: center; */
	padding: 0;
	margin: 0;
	padding-top: 8.5px;
	padding-left: 4px;
	/* max-width: 158px; */
	max-width: 100%;
	white-space: nowrap; /* Текст не переносится */
	overflow: hidden; /* Скрыть текст, который не помещается */
	text-overflow: ellipsis; /* Добавить троеточие */
}
.dispute-card__status {
	padding-left: 20px;
	margin-right: 20px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	text-align: start;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
	background-color: var(--Green-background);
	width: 200px;
	height: 42px;
	border-radius: 10px;
}
.dispute-card__status::before {
	content: '';
	width: 14px;
	height: 14px;
	display: inline-block;
	/* margin-top: 4px; */
	border-radius: 50%;
	margin-right: 12px;
}
.dispute-card__status_type_closed {
	background-color: var(--Green-background);
}
.dispute-card__status_type_started {
	background-color: var(--Orange-background);
}
.dispute-card__status_type_not_started {
	background-color: var(--Red-background);
}

.dispute-card__status_type_closed::before {
	background-color: var(--Success);
}
.dispute-card__status_type_started::before {
	background-color: var(--Status);
}
.dispute-card__status_type_not_started::before {
	background-color: var(--Error);
}

.dispute-card__option {
	padding: 0;
	margin: 0;
	border: 0;
	margin-left: 20px;
	width: 90px;
	height: 40px;
	background-image: url(../../4b0876db142662a37d1c.svg);

	background-color: transparent;
	cursor: pointer;
}
.dispute-card__option-container {
	margin: 0;
	padding: 0;
	position: absolute;
	right: 16px;
	top: 20px;
	z-index: 5;
}
/* DISPUTEPAGE STYLE */
.dispute-card_type_disputePage {
	/* max-width: 1440px;
	min-width: 1440px; */
}
.dispute-card__container_type_disputePage {
	box-shadow: none;
	border-radius: 0px;
	padding-right: 60px;
}
.dispute-card__container_type_disputePage:hover {
	outline: none;
	cursor: default;
}
/* УБЕРУ ПОЗЖЕ, ВОЗМОЖНО ПОНАДОБИТСЯ */
/* .dispute-card__header_type_disputePage {
}
.dispute-card__status_type_disputePage {
} */
.dispute-card__content_type_disputePage {
	width: 960px;
	margin-right: 0px;
}
/* .dispute-card__title_type_disputePage {
}
.dispute-card__closed-time_type_disputePage {
} */
.dispute-card__text_type_disputePage {
	display: block;
	-webkit-line-clamp: initial;
	-webkit-box-orient: initial;
	overflow: visible;
	overflow: initial;
}
.dispute-card__close {
	position: absolute;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: transparent;
	background-image: url(../../d9c0dd5d4d5c3d88b448.svg);
	width: 46px;
	height: 46px;
	top: 0;
	right: 0;
}

.files {
	display: flex;
	flex-direction: row;
}
.files_type_dispute {
	margin-top: 12px;
}
.files_type_message {
	margin-top: 8px;
}
.file {
	margin-right: 16px;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0px;
	text-align: left;
	display: flex;
	color: #003d3d;
	max-width: 200px;
	text-decoration: none;
}
.file__name {
	/* display: flex;
	align-items: center; */
	padding: 0;
	margin: 0;
	padding-top: 8.5px;
	padding-left: 4px;
	/* max-width: 158px; */
	max-width: 100%;
	white-space: nowrap; /* Текст не переносится */
	overflow: hidden; /* Скрыть текст, который не помещается */
	text-overflow: ellipsis; /* Добавить троеточие */
}
.file__icon {
	width: 34px;
	height: 34px;
}

.menu {
	width: 276px;
	height: 132px;
	margin: 0;
	padding: 16px;
	background-color: #fff;
	border-radius: 10px;
	box-sizing: border-box;
	position: relative;
	box-shadow: 0px 4px 24px 0px rgba(0, 61, 61, 0.15);
}

.menu__links {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	list-style-type: none;
}

.menu__link-item {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

.triangle {
	margin: 0;
	padding: 0;
	width: 30px;
	height: 20px;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 30px solid #fff;
	position: absolute;
	right: 10px;
	top: -12px;
	box-sizing: border-box;
	z-index: -1;
}

.button {
	border: 0;
	margin: 0;
	padding: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	/* шрифты */
	font-family: Inter;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	letter-spacing: 0em;
	cursor: pointer;
}
/* Отключаем cursor при disabled */

.button_disabled_true {
	cursor: default;
}

/* Позиционирование */

.button_content_start {
	justify-content: start;
}

/* Размеры */

.button_size_mlarge {
	min-width: 420px;
	min-height: 60px;
}
.button_size_large {
	padding: 20px 0 20px 0;
	min-width: 380px;
}
.button_size_medium {
	min-width: 310px;
	min-height: 60px;
}
.button_size_small {
	min-width: 244px;
	min-height: 50px;
}

.button_size_micro {
	min-width: 90px;
	min-height: 54px;
}

/* Прозрачная кнопка transperent  */

.button_color_transperent {
	background-color: transparent;
	color: var(--Body-text);
	border-radius: 6px;
	font-weight: 400;
}
.button_color_transperent:hover {
	background-color: var(--Select-hover);
}
/* Типы before */

.button_color_transperent:before {
	content: '';
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	margin-right: 8px;
	margin-left: 16px;
	background-image: url(../../b3b297fa7ba206339556.svg);
	background-position: center;
	background-repeat: no-repeat;
	box-sizing: border-box;
}
/* Типы before */
.button_before_type_edit::before {
	background-image: url(../../adba4ebf5037150a4841.svg);
}
.button_before_type_exit::before {
	background-image: url(../../38bc8336d7c3dc94b7b0.svg);
}
.button_before_type_cancel::before {
	background-image: url(../../22aa562aa81a083a16d7.svg);
}
.button_before_changePassword::before {
	background-image: url(../../b3b297fa7ba206339556.svg);
}
.button_before_type_send::before {
	background-image: url(../../972f2f1ed4fd12ab18f0.svg);
}

.button_disabled_true.button_before_type_send::before {
	background-image: url(../../c26c472a1a95006ce0ac.svg);
}

/* downy */

.button_color_downy {
	background-color: var(--Accent);
	color: var(--Green-text);
}
.button_color_downy:hover {
	/* нет в конфиге */
	background-color: #56f2af;
}
.button_color_downy:focus {
	outline: 3px solid var(--Green-text);
}

.button_color_downy:active:not([disabled]) {
	box-shadow: 0px 4px 4px 0px #00000040 inset;
}

.button_color_downy:disabled {
	opacity: 0.2;
}

/* blueLagoon */

.button_color_blueLagoon {
	background-color: var(--secondary-button);
	color: var(--Background);
}
.button_color_blueLagoon:hover {
	background-color: var(--Hover-button);
}
.button_color_blueLagoon:focus {
	outline: 3px solid var(--Green-text);
}
.button_color_blueLagoon:active:not([disabled]) {
	box-shadow: 0px 4px 4px 0px #00000040 inset;
}
.button_color_blueLagoon:disabled {
	background-color: var(--Desabled-input);
	color: var(--Background);
}

/* blueLagoon-inverted */

.button_color_blueLagoon-inverted {
	background-color: transparent;
	color: var(--secondary-button);
	outline: 1px solid var(--secondary-button);
}
.button_color_blueLagoon-inverted:hover {
	background-color: var(--Select-hover);
}
.button_color_blueLagoon-inverted:focus {
	outline: 2px solid var(--Green-text);
}
.button_color_blueLagoon-inverted:active:not([disabled]) {
	outline: 1px solid var(--secondary-button);
	box-shadow: 0px 4px 4px 0px #39675c40 inset;
	background-color: var(--Background);
}
.button_color_blueLagoon-inverted:disabled {
	outline: 1px solid var(--Desabled-input);
	background-color: transparent;
	color: var(--Desabled-input);
}
/* button box for storybook */

.button-box {
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
	align-items: flex-start;
}

.dispute-cardlist {
	margin-top: 60px;
	display: grid;
	grid-row-gap: 40px;
	row-gap: 40px;
	justify-content: center;
}


/*# sourceMappingURL=components-DisputeCardList-DisputeCardList-stories.542a9269.chunk.css.map*/