.new-dispute-opponents {
	min-height: 20px;
}

.new-dipute-opponents__choice {
	box-sizing: border-box;
	padding: 8px 16px;
	border: 1px solid #002a2a;
	border-radius: 10px;
	display: flex;
	align-items: center;
	gap: 0 12px;
	flex-wrap: wrap;
}

.new-dipute-opponents__choice_opened {
	border-radius: 10px 10px 0 0;
	border-bottom: 1px solid #a7acca;
}

.new-dipute-opponents__choice-glue-modal {
	width: 100%;
	max-height: 0;
	position: relative;
}

.new-dispute-opponents__selected {
	display: flex;
	gap: 27px;
	flex-wrap: wrap;
}

.new-dispute-opponents__selected-item {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	height: 38px;
	gap: 8px;
	padding: 8px 12px;
	background-color: #ebeeee;
	border-radius: 6px;
}

.new-dispute-opponents__selected-name {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.new-dispute-opponents__selected-button {
	border: none;
	width: 18px;
	height: 18px;
	background-image: url(../../569a034235e7622e6724.svg);
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
	cursor: pointer;
}

.new-dispute-opponents__input-frame {
	min-width: 105px;
	display: flex;
	flex-grow: 1;
	align-items: center;
	min-height: 38px;
}

.new-dispute-opponents__input-section {
	min-width: 100px;
	flex-grow: 1;
}

.new-dispute-opponents__input {
	width: 100%;
	border: none;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}
.new-dispute-opponents__input {
	outline: none;
}

.new-dispute-opponents__button {
	border: none;
	width: 12px;
	height: 7px;
	background-image: url(../../458e1d14f995fd8f4dc2.svg);
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
	cursor: pointer;
}

.new-dispute-opponents__button_rotate {
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.new-dispute-opponents__input-modal {
	box-sizing: border-box;
	position: absolute;
	border: 1px solid #002a2a;
	border-top: none;
	border-radius: 0 0 10px 10px;
	padding-left: 17px;
	padding-right: 0;
	top: 9px;
	left: -17px;
	width: 980px;
	max-height: 444px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 6px;
	background-color: #fff;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	scrollbar-color: var(--Desabled-input) rgba(228, 228, 228, 0);
	scrollbar-width: thin;
}

.new-dispute-opponents__input-modal::-webkit-scrollbar {
	width: 17px;
}

.new-dispute-opponents__input-modal::-webkit-scrollbar-track {
	background-color: rgba(228, 228, 228, 0.1);
	border-radius: 100px;
}

.new-dispute-opponents__input-modal::-webkit-scrollbar-thumb {
	border-radius: 13px;
	border: 6px solid transparent;
	background-clip: content-box;
	background-color: var(--Desabled-input);
}

.new-dispute-opponents__input-modal:focus {
	outline: none !important;
}

.new-dispute-opponents__input-modal:focus-within {
	outline: none !important;
}

.new-dispute-opponents__input-modal_opened {
	opacity: 1;
	visibility: visible;
}

.new-dispute-opponents__modal-item {
	width: 100%;
	height: 44px;
	padding: 10px 12px;
	text-align: left;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.new-dispute-opponents__modal-item:hover {
	background-color: #f3f5f5;
}

.new-dispute-opponents__modal-item_not-found {
	cursor: default;
}

.new-dispute-opponents__modal-item_not-found:hover {
	background-color: transparent;
}


/*# sourceMappingURL=components-ui-kit-NewDisputeOpponents-NewDisputeOpponents-stories.f4641c26.chunk.css.map*/