.files {
	display: flex;
	flex-direction: row;
}
.files_type_dispute {
	margin-top: 12px;
}
.files_type_message {
	margin-top: 8px;
}
.file {
	margin-right: 16px;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0px;
	text-align: left;
	display: flex;
	color: #003d3d;
	max-width: 200px;
	text-decoration: none;
}
.file__name {
	/* display: flex;
	align-items: center; */
	padding: 0;
	margin: 0;
	padding-top: 8.5px;
	padding-left: 4px;
	/* max-width: 158px; */
	max-width: 100%;
	white-space: nowrap; /* Текст не переносится */
	overflow: hidden; /* Скрыть текст, который не помещается */
	text-overflow: ellipsis; /* Добавить троеточие */
}
.file__icon {
	width: 34px;
	height: 34px;
}
