.input {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 420px;
}

.input__box {
	margin: 0;
	padding: 17px;
	max-width: 420px;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	border: 1px solid var(--Stroke);
	box-sizing: border-box;
}

.input__box_active:hover {
	border: 1px solid var(--secondary-button);
}

.input__box_active:focus {
	border: 1px solid var(--Green-text);
}
.input__box_disabled {
	border: 1px solid var(--Desabled-input);
}
.input__input {
	margin: 0;
	padding: 0;
	width: 90%;
	border: none;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	color: var(--Green-text);
	text-align: left;
	outline: none;
}
.input__input_disabled {
	color: var(--Stroke);
}
.input:not(:has(.input__error:empty)) .input__box {
	border: 1px solid var(--Error);
}

.input__label {
	opacity: 0;
	margin: 0;
	padding: 0 5px;
	position: absolute;
	top: -6px;
	left: 12px;
	font-family: Inter;
	color: var(--Stroke);
	background-color: #fff;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	transition: opacity 0.5s ease-in-out;
}
.input__input:focus,
.input__input:not(:placeholder-shown) ~ .input__label {
	opacity: 1;
}

.input__error {
	margin: 6px 0 0;
	max-width: 380px;
	width: 100%;
	min-height: 12px;
	padding: 0;
	color: var(--Error);
	font-family: Inter;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: right;
	min-height: 15px;
}

.input__icon {
	margin: 0;
	padding: 0;
	background-image: url(../../../Images/Open=Yes.svg);
	background-position: center;
	background-color: transparent;
	width: 17.65px;
	height: 17.65px;
	border: none;
	cursor: pointer;
}

.input__icon-close-eye {
	background-image: url(../../../Images/Open=No.svg);
}

.input__box-with-label {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	width: 100%;
}
