.input {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 380px;
}

.input__box {
	margin: 0;
	padding: 16px;
	max-width: 380px;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	border: 1px solid #858ba9;
	box-sizing: border-box;
}

.input__input {
	margin: 0;
	padding: 0;
	width: 90%;
	border: none;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	text-align: left;
	outline: none;
}

.input:not(:has(.input__error:empty)) .input__box {
	border: 1px solid #ff4a4a;
}

.input__label {
	opacity: 0;
	margin: 0;
	padding: 0 5px;
	position: absolute;
	top: -6px;
	left: 12px;
	font-family: Inter;
	color: #858ba9;
	background-color: #fff;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	transition: opacity 0.5s ease-in-out;
}

.input__input:focus,
.input__input:not(:placeholder-shown) ~ .input__label {
	opacity: 1;
}

.input__error {
	margin: 6px 0 0;
	max-width: 380px;
	width: 100%;
	padding: 0;
	color: #ff4a4a;
	font-family: Inter;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: right;
}

.input__icon {
	margin: 0;
	padding: 0;
	background-image: url(../../Images/Open=Yes.svg);
	background-position: center;
	background-color: transparent;
	width: 17.65px;
	height: 17.65px;
	border: none;
	cursor: pointer;
}

.input__icon-close-eye {
	background-image: url(../../Images/Open=No.svg);
}

.input__box-with-label {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}
