.drop-file-preview__item {
	box-sizing: border-box;
	width: 115px;
	height: 55px;
}

.drop-file-preview__img-wrapper {
	position: relative;
	width: 26px;
	height: 30px;
	margin: 0 auto;
}

.drop-file-preview__delete {
	position: absolute;
	top: -8px;
	right: -8px;
	width: 14px;
	height: 14px;
	border: none;
	background-image: url(../../../../Images/closeIcon_file.svg);
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
	cursor: pointer;
}

.drop-file-preview__img {
	width: 100%;
	height: 100%;
}

.drop-file-preview__name {
	margin: 0;
	width: 115px;
	height: 24px;
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
